<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>101919057598-p766d65tl9hgblqmv3uje2ath7tsbh13.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.101919057598-p766d65tl9hgblqmv3uje2ath7tsbh13</string>
	<key>API_KEY</key>
	<string>AIzaSyDi-3m5qseCuSZ7UGWfbrjva3NAiuFtwvg</string>
	<key>GCM_SENDER_ID</key>
	<string>101919057598</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tangojlabs.gandalf</string>
	<key>PROJECT_ID</key>
	<string>anthracite-302814</string>
	<key>STORAGE_BUCKET</key>
	<string>anthracite-302814.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:101919057598:ios:5d41ff166687181c5f20ef</string>
</dict>
</plist>